<!-- Notification Area Start -->
<% if resource.errors.any? %>
  <div class="notification-area">
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
<!-- Notification Area End -->
