<main>
      <!-- Breadcrumb Area S t a r t -->
      <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
          <div class="breadcrumb-text">
            <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp" data-wow-delay="0.0s">
              <ul class="breadcrumb listing">
                <li class="breadcrumb-item single-list"><a href="index.html" class="single">Home</a></li>
                <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">contact</a></li>
              </ul>
            </nav>
            <h1 class="title wow fadeInUp" data-wow-delay="0.1s">contact us</h1>
          </div>
        </div>
      </section>
      <!-- End-of Breadcrumb Area -->

      <!-- Contact area S t a r t-->
      <div class="volunteer-details top-bottom-padding2">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="contact-section">
                <div class="contact-list">
                  <div class="contact-icon-list">
                    <div class="single-icon">
                      <i class="ri-phone-fill"></i>
                    </div>
                    <div class="divider-ver"></div>
                    <div class="contact-content">
                      <p class="subtitle">Phone</p>
                      <a class="title" href="tel:+91 94149-17901"> +91 94149-17901</a>
                    </div>
                  </div>
                  <div class="contact-icon-list">
                    <div class="single-icon">
                      <i class="ri-mail-fill"></i>
                    </div>
                    <div class="divider-ver"></div>
                    <div class="contact-content">
                      <p class="subtitle">Email</p>
                      <a class="title" href="mailto:manidweepjodhpur@gmail.com">manidweepjodhpur@gmail.com</a>
                    </div>
                  </div>
                  <div class="contact-icon-list">
                    <div class="single-icon">
                      <i class="ri-map-pin-line"></i>
                    </div>
                    <div class="divider-ver"></div>
                    <div class="contact-content">
                      <p class="subtitle">Location</p>
                      <p>A-183, Shastri Nagar, Jodhpur, Rajasthan - 342003, India</p>
                      <a class="title" href="https://www.google.com/maps/place/Manidweep+Adhyatm+Pariwar+Jodhpur/@26.26849,72.998578,15z/data=!4m6!3m5!1s0x39418d9f79d8840b:0xf7d51fe71701c661!8m2!3d26.2684897!4d72.9985779!16s%2Fg%2F11j2xxlht2?hl=en&entry=ttu">View on Google Map</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-padding4">
            <div class="row gy-24">
              <div class="col-xl-6">
                <div class="send-box">
                  <form action="contact-us.html" class="custom-form">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="form-group">
                          <label class="custom-label" for="exampleFormControlInput1">Full Name</label>
                          <input type="text" class="form-control custom-input" id="exampleFormControlInput1" placeholder="Alex Jordan">
                        </div>
                      </div>
                      <div class="col-xl-12">
                        <div class="form-group">
                          <label class="custom-label" for="exampleFormControlInput5">Phone</label>
                          <input type="text" class="form-control custom-input" id="exampleFormControlInput5" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-xl-12">
                        <div class="form-group">
                          <label class="custom-label" for="exampleFormControlInput2">Email address</label>
                          <input type="email" class="form-control custom-input" id="exampleFormControlInput2" placeholder="name@example.com">
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label class="custom-label" for="exampleFormControlInput2">Subject</label>
                        <input class="form-control custom-input" id="exampleFormControlTextarea1" placeholder="Type You subject here"> </input>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label class="custom-label" for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control custom-textarea" id="exampleFormControlTextarea1" placeholder="Type You message here"></textarea>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label class="custom-label" for="exampleFormControlInput2">Address</label>
                        <input class="form-control custom-input" id="exampleFormControlTextarea1" placeholder="Type You address here"> </input>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label class="custom-label" for="exampleFormControlInput2">Country</label>
                        <input class="form-control custom-input" id="exampleFormControlTextarea1" placeholder="Type You Country here"> </input>
                      </div>
                    </div>
                    <button type="submit" class="submit-btn">Send Message</button>
                  </form>
                </div>
              </div>
              <div class="col-xl-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14311.15854295545!2d72.998578!3d26.26849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418d9f79d8840b%3A0xf7d51fe71701c661!2sManidweep%20Adhyatm%20Pariwar%20Jodhpur!5e0!3m2!1sen!2sin!4v1723549799944!5m2!1sen!2sin" width="600" height="1000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-of contact-->
    </main>