<main>
  <!-- Breadcrumb Area Start -->
  <section class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="breadcrumb-text">
        <h1 class="title wow fadeInUp" data-wow-delay="0.1s">Login</h1>
      </div>
    </div>
  </section>
  <!-- End of Breadcrumb Area -->

  <!-- Login Area Start -->
  <div class="login-area section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
          <div class="login-card">
            <!-- Logo -->
            <div class="logo mb-40">
              <a href="index.html" class="mb-30 d-block">
                <img src="/assets/logo/Logo.png" alt="logo">
              </a>
            </div>
            <!-- Form -->
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "contact-form" }) do |f| %>
              <div class="position-relative contact-form mb-24">
                <label class="contact-label">Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control contact-input", placeholder: "Enter Your Email" %>
              </div>

              <div class="contact-form mb-24">
                <div class="position-relative">
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="contact-label">Password</label>
                    <a href="/users/password/new">
                      <span class="text-primary text-15">Forgot password?</span>
                    </a>
                  </div>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control contact-input password-input", id: "txtPasswordLogin", placeholder: "Enter Password" %>
                  <i class="toggle-password ri-eye-line"></i>
                </div>
              </div>

              <%= f.submit "Login", class: "btn-primary-fill justify-content-center d-flex" %>
            <% end %>

            <div class="login-footer">
              <div class="create-account">
                <p>
                  Don’t have an account?
                  <a href="/users/sign_up">
                    <span>Register</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Login Area -->
</main>
