<div class="col-xl-9">
  <h1 class="display-4 mb-3">Edit User</h1>
</div>
<div class="container py-8 py-lg-10">
  <div class="g-pa-20">
  	<%= render 'form', user: @user, :form_url => user_path %>
  </div>
</div>